
#
# Partition Table
#
# CONFIG_PARTITION_TABLE_SINGLE_APP is not set
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_jd.csv"
CONFIG_PARTITION_TABLE_CUSTOM_APP_BIN_OFFSET=0x100000
CONFIG_PARTITION_TABLE_FILENAME="partitions_jd.csv"
CONFIG_APP_OFFSET=0x100000

#
# Component config
#
CONFIG_BT_ENABLED=y
CONFIG_BTC_TASK_STACK_SIZE=3072
# CONFIG_BLUEDROID_MEM_DEBUG is not set
CONFIG_BT_DRAM_RELEASE=y
CONFIG_GATTS_ENABLE=y
# CONFIG_GATTC_ENABLE is not set
# CONFIG_SMP_ENABLE is not set
CONFIG_BT_RESERVE_DRAM=0x10000

#
# LWIP
#
# CONFIG_L2_TO_L3_COPY is not set
CONFIG_LWIP_SO_REUSE=y
CONFIG_LWIP_SO_RCVBUF=y


#
# FreeRTOS
#
CONFIG_FREERTOS_UNICORE=y

#
# PHY
#
CONFIG_ESP32_PHY_INIT_DATA_IN_PARTITION=y



CONFIG_JOYLINK_DEVICE_UUID="CF1484"
CONFIG_JOYLINK_SMNT_AES_KEY="K8AG43A6M4BN6PAG"
CONFIG_JOYLINK_PUBLIC_KEY="03D5A54ACF235E77FC1240754DB26BC0E20949E5A3C68338A635CA646EC336D1D9"
JOYLINK_SOFTAP_ENABLE=y
CONFIG_JOYLINK_SOFTAP_PACKET_HEAD="JYAP"
CONFIG_JOYLINK_DEVICE_BRAND="0024"
CONFIG_JOYLINK_DEVICE_CID="0226"
